@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


/* Standardize Pages */

:root{
    --main-color:#ab3b2b;
    --black: #333333;
    --white: #ffffff;
    --light-black: #5c5c5c;
    --light-white: #c2c2c2;
    --dark-bg: rgba(0,0,0,0.7);
    --light-bg: #eeeeee;
    --border: 1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    --text-shadow: 0 1.5rem 3rem rgba(0,0,0,0.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(3rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    isolation: isolate;
}

.heading::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--black);
    opacity: 0.6;
}

.heading h1{
    font-size: 10rem;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
}




.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
}


/* Header and navbar */
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
}

.header .navbar input{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
    background: none;
}

.header .navbar input:hover{
    color: var(--main-color);
}

#menu-bars{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


/* Home Page */
.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
    position: relative;
    isolation: isolate;
}

.home .slide::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--black);
    opacity: 0.6;
}

.home .slide .content{
    width: 85rem;
    display: none;
    
}


.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--white);
    padding-bottom: 1rem;
    animation: fadeIn 0.4s linear backwards 0.2s;
}

.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn 0.4s linear backwards 0.4s;
}

.home .slide .content p{
    font-size: 2.2rem;
    color: var(--white);
    padding-bottom: 2rem;
    animation: fadeIn 0.4s linear backwards 0.2s;
}

.home .slide .content .btn{
    animation: fadeIn 0.4s linear backwards 0.6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
    height: 7rem;
    width: 7rem;
    color: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    color: var(--main-color);
}


.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 3rem;
}


/* FAQ's in Home Page */
.home-faq{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.home-faq .title{
    text-align: center;
    padding-bottom: 5rem;
    font-size: 4rem;
}

.home-faq .faq{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--light-bg);
}

.home-faq .faq .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-faq .faq .question h3{
    font-size: 1.8rem;
    color: var(--black);
}

.home-faq .faq .question .icon{
    font-size: 2rem;
    color: var(--black);
}

.home-faq .faq .answer{
    max-height: 0;
    overflow: hidden;
}

.home-faq .faq .answer p{
    padding-top: 1rem;
    font-size: 1.4rem;
    color: var(--black);
}

.home-faq .faq.active .answer{
    max-height: 100rem;
    transition: max-height 1.4s ease;
    animation: fadeIn 0.4s linear backwards 0.2s;
}

.home-faq .faq.active .icon{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
}

.home-faq .faq .icon{
    transition: transform 0.5s ease-out;
}

.home-faq .faq.active .question h3{
    color: var(--white);
}

.home-faq .faq.active{
    background-color: var(--main-color);
}

.home-faq .faq.active .question .icon{
    color: var(--white);
}

.home-faq .faq.active .answer p{
    color: var(--white);
}


/* About in Home Page */
.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p{
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}




.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    justify-content: center;
}

.about .image{
    flex: 1 1 10rem;
}

.about .image img{
    width: 100%;
}

.about .content{
    flex: 1 1 41rem;
    text-align: center;
}

.about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
}

.about .content .icons-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .content .icons-container .icons{
    padding: 2rem;
    background-color: var(--light-bg);
    border-radius: 1rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);  
    display: block;  
}


/* Privacy Policy */
.pp{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    justify-content: center;
}

.pp .pp-container{
    flex: 1 1 41rem;
    text-align: center;
}

.pp .pp-container h2{
    font-size: 2.5rem;
    color: var(--black);
}

.pp .pp-container p{
    font-size: 1.5rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
}


/* Terms of Service */
.tos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    justify-content: center;
}

.tos .tos-container{
    flex: 1 1 41rem;
    text-align: center;
}

.tos .tos-container h2{
    font-size: 2.5rem;
    color: var(--black);
}

.tos .tos-container p{
    font-size: 1.5rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
}






/* Login Page */
.login{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
    justify-content: center;
    margin : 5rem;
}

.login .logo{
    flex: 1 1 41rem;
    text-align: center;
}

.login .logo img{
    width: 80%;
}

.login .login-input{
    flex: 1 1 41rem;
    text-align: center;
    border-left: var(--main-color) 5px solid;
    padding-left: 3rem;
}

.login .login-input h2{
    font-size: 3.5rem;
    color: var(--black);
}

.login .login-input .login-container{
    margin: 2rem 0;
}

.login .login-input .login-container input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid var(--light-black);
    border-radius: 0.5rem;
    outline: none;

}

.login .login-input .login-container input:focus{
    border: 1px solid var(--main-color);
}

.login .login-input .login-container input::placeholder{
    color: var(--light-black);
}

.login .login-input .login-container .login-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login .login-input .login-container .login-options .stay-logged-in{
    display: flex;
    align-items: center;
}

.login .login-input .login-container .login-options .stay-logged-in input{
    display: none;
}

.login .login-input .login-container .login-options .stay-logged-in input + label::before{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--light-black);
    border-radius: 0.4rem;
    margin-right: 1rem;
    cursor: pointer;
    background-color: var(--white);
    vertical-align: middle;
}

.login .login-input .login-container .login-options .stay-logged-in input:checked + label::before{
    background-color: var(--main-color);
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--white);
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
}

.login .login-input .login-container .login-options .stay-logged-in label{
    font-size: 1.5rem;
    color: var(--light-black);
}

.login .login-input .login-container .login-options button{
    width: 10%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.login .login-input .login-options button:hover{
    opacity: 0.8;
}



.login .login-input .login-container .login-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.login .login-input .login-container .login-links a{
    font-size: 1.5rem;
    color: var(--light-black);
}

.login .login-input .login-container .login-links a:hover{
    color: var(--main-color);
}

.login .login-input .login-container .login-links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    display: block;
    transition: width 0.5s;
}

.login .login-input .login-container .login-links a:hover::after{
    width: 100%;
}


/* Sign Up */

.signup .signup-title{
    text-align: center;
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: 5rem;
}

.signup .signup-form{
    padding: 2rem;
    background: var(--light-bg);
}

.signup .signup-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.signup .signup-form .flex .input-box{
    flex: 1 1 41rem;
}

.signup .signup-form .flex .input-box input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: 1px solid var(--light-black);
}

.signup .signup-form .flex .input-box input:focus{
    background-color: var(--main-color);
    color: var(--white);
}

.signup .signup-form .flex .input-box input:focus::placeholder{
    color: var(--white);
}

.signup .signup-form .flex .input-box input::placeholder{
    color: var(--light-black);
}

.signup .signup-form .flex .input-box span{
    font-size: 1.5rem;
    color: var(--light-black);
}

.signup .signup-form .btn{
    margin-top: 2rem;
}




















/* Footer */
.footer{
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-conteiner .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-conteiner .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}


.footer .box-conteiner .box a i{
    color: var(--main-color);
    padding-right: 0.5rem;
    transition: 0.2s linear;
}

.footer .box-conteiner .box a:hover i{
    color: var(--main-color);
    padding-right: 2rem;
}

.footer .box-conteiner .box img{
    /* center the image in the box */
    display: block;
    margin: auto;
    width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



@media (max-width: 1200px){

    header section{
        padding: 3rem 5%;
    }

}

@media (max-width: 1197px){

    .login .login-input{
        border-left: none;
        padding-left: 0;
    }
}

@media (max-width: 990px){

    html{
        font-size: 55%;
    }

    header section{
        padding: 3rem 2rem;
    }

    .home .slide .content h3{
        font-size: 10vw;
    }

}

@media (max-width: 750px){

    #menu-bars{
        display: inline-block;
        transition: 0.2s linear;
    }

    #menu-bars.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-bottom: var(--border);
        border-top: var(--border);
        padding: 2rem;
        transition: 0.2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .header .navbar .logout input{
        display: block;
        margin: 2rem auto;
        align-items: center;
    }


}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

}